body {
    background-color: coral;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
    text-decoration: none;
    color: rgb(243, 235, 235);
}

a:hover {
    color: rgb(66, 245, 21);
}

#container {
    background-color: beige;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 10 px;
}

#content {
    padding: 10px;
}

#nav {
    background-color: black;
    color: antiquewhite;
    width: 140px;
    padding: 10px;
    float: left;
}

#main {
    width: 600px;
    float: right;
    padding: 10px;
}

#footer {
    clear: both;
    text-align: center;
    padding: 10 px;
    background-color: #999999;
    text-align: right;
}